In [2]:
10 % 2 + 3 // 10

0

In [3]:
5 * (2 + 3) / 2

12.5

In [5]:
2 ** 3 * 4

32

In [1]:
dados = [ 
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

In [4]:
result_2 = []
for lista in dados:
    result_2 += lista
result_2

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [2]:
import numpy as np

In [8]:
km = np.array([123, 12232, 35234, 5465667, 5664564, 11233])
km

array([    123,   12232,   35234, 5465667, 5664564,   11233])

In [5]:
peso = np.array([72, 96, 112])
altura = np.array([1.55, 1.89, 1.72])
imc = peso / (altura ** 2)
imc

array([29.96878252, 26.87494751, 37.85830178])

In [6]:
dados = np.array(
    [
        ['Roberto', 'casado', 'masculino'],
        ['Sheila', 'solteiro', 'feminino'],
        ['Bruno', 'solteiro', 'masculino'],
        ['Rita', 'casado', 'feminino']
    ]
)

Marque a alternativa que mostra o código que permite a seleção, 
sem utilização de operadores lógicos (and e or), 
das informações de nome e estado civil, 
somente das pessoas do sexo masculino.

In [51]:

dados[dados[::, 2] == 'masculino', 0:2]

array([['Roberto', 'casado'],
       ['Bruno', 'solteiro']], dtype='<U9')

In [49]:
dados[0::2, :2]

array([['Roberto', 'casado'],
       ['Bruno', 'solteiro']], dtype='<U9')

In [52]:
idades = np.array([10, 23, 45, 34, 25])
idades.mean()

27.4